<div>
  <h2 class="text-center">Aplicación del Blog</h2>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" routerLinkActive="bg-secondary text-white">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="publicaciones" class="nav-link" routerLinkActive="bg-secondary text-white">Publicaciones</a>
    </li>
    <li class="nav-item">
      <a routerLink="users" class="nav-link" routerLinkActive="bg-secondary text-white">Usuarios</a>
    </li>
  </ul>
</div>
